*{
    padding: 0; border: 0; margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
      background-image: linear-gradient(#e66465, #9198e5);
      height:800px;
      width:1450px;
}
.description {
  text-align: center;
  font-family: impact;
  font-size: 3em;
  text-transform: uppercase;
  padding-top: 200px;
  color: white;
}
p{
  font-size: 20px;
  color: white;
}
.element {
  text-align: center;
  padding-top: 30px;
  color: white;
}
.menu{
  color: white;
  border: solid 2px grey;
  width: 170px;
  height: 40px;
  padding-top: 9px;
  background-color: grey;
  border-radius: 7px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  transition-duration: 0.8s;
  transition-property: all;
  text-decoration:none;
}
.menu:hover{
  transform: scale(1.2);
  background-color: white;
  color: grey;
  border: solid 2px white;
}
#one{
  margin-left: 250px;
  margin-top: 60px;
}
#two{
  margin-left: 500px;
  margin-top: -40px;
}
#three{
  margin-left: 770px;
  margin-top: -40px;
}
#four{
  margin-left: 1050px;
  margin-top: -40px;
}
